/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/* selected colors */
:root {
  --primary-color: #3a3a3a;
  --secondary-color: #18191f;
  --tertiary-color: #ffffff;
  --tertiary-two-color: #d9dbe1;
  --mini-text-color: #787885;
  --btn-color: #e02c6d;
  --body-color: #aaaaaa;
  --feature-title-color: ##0a0826;
  --feature-description-color: #6c6c6c;
}
* {
  margin: 0px;
  padding: 0px;
  font-family: poppins, sans-serif;
}
/* button styles */
.btn-primary {
  color: var(--tertiary-color);
  background-color: var(--btn-color);
  padding: 10px 24px;
  gap: 8px;
  border-radius: 40px;
  border: 0;
  margin-top: 15px;
}
.btn-special {
  border-radius: 0;
}

/* header styles */
.header {
  margin: 90px 120px 90px 120px;
}
.nav-head {
  font-size: 24px;
  font-weight: 700;
}
.navbar {
  display: flex;
  justify-content: space-between;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 34px;
}
.nav a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}
.influence-head {
  display: flex;
  align-items: center;
}
.influence-content {
  width: 100%;
  max-width: 590px;
  height: 270px;
  color: var(--primary-color);
}
.influence-title {
  font-size: 52px;
  font-weight: 700;
}
.influence-description {
  font-size: 16px;
  font-weight: 600;
}
.demo-img {
  width: 440px;
  height: 414px;
  margin-top: 40px;
}
/* main styles */
.companies-logo {
  margin: 0 165px 0px 165px;
}
.companies-logo ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 60px;
  align-items: center;
  width: 1110px;
  height: 110px;
}
/* product styles */
.products-container {
  margin: 100px 195px;
}
.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.product-data {
  display: flex;
  flex-direction: column;
  width: 329px;
  height: 476px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 10px;
}
.section-title {
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 30px;
}
.product-title {
  color: var(--secondary-color);
}
.product-data .price {
  color: rgba(0, 0, 0, 0.87);
}
.product-data ul {
  display: flex;
  list-style: none;
}
.product-data ul li i {
  color: #fb8200;
}
.product-data p {
  color: var(--mini-text-color);
}
.see-more {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
  padding-right: 0px;
  position: relative;
  left: 70px;
}
.products-container .see-more a {
  color: var(--btn-color);
  text-decoration: none;
}
/* product feature styles */
.products-feature {
  width: 1110px;
  height: 270px;
  display: flex;
  justify-content: center;
  margin: 0 165px 100px 165px;
  gap: 150px;
}
.feature-title {
  font-weight: 700;
  font-size: 38px;
  color: var(--feature-title-color);
}
.feature-description {
  color: var(--feature-description-color);
}
/* footer styles */
.footer-section {
  text-align: center;
  background-color: rgb(2, 2, 37);
  color: var(--tertiary-color);
  padding: 20px 0;
}
.contact-logo i {
  margin: 8px;
}
/* responsive design */

/* mobile device */
@media only screen and (max-width: 688px) {
  .footer-section {
    display: none;
  }
  /* header rwd */
  .header {
    margin: 0;
  }
  .navbar,
  .influence-head,
  .nav ul,
  .companies-logo ul,
  .products-feature {
    flex-direction: column;
  }
  .navbar {
    text-align: center;
    padding-top: 20px;
    gap: 1rem;
  }
  .influence-head {
    padding: 10px;
  }
  .demo-img {
    width: 100%;
  }
  .demo-img img {
    width: 100%;
    margin-top: 100px;
  }
  /* main rwd */
  .companies-logo {
    margin: 0;
  }
  .companies-logo ul {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
  }
  .products-container {
    margin: 0;
  }
  .product-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  .product-data {
    width: 100%;
    height: auto;
    padding: 0;
  }
  .product-data > ul,
  p,
  h3 {
    position: relative;
    left: 15px;
    width: 80%;
  }
  .product-data img {
    width: 90%;
    margin-left: 15px;
  }

  .products-feature {
    width: 100%;
    height: auto;
    margin: 0;
    gap: 1rem;
  }
  .feature-img img {
    width: 100%;
  }
  .see-more {
    position: static;
    justify-content: center;
    left: 0;
  }
  .feature-details {
    padding: 5px;
  }
}
